<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net4" />
  <package id="ChannelAdam.Core" version="1.2.1" targetFramework="net45" />
  <package id="ChannelAdam.TestFramework" version="1.1.1" targetFramework="net45" />
  <package id="ChannelAdam.TestFramework.MSTest" version="1.1.3" targetFramework="net45" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="net45" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net45" />
  <package id="SimpleInjector" version="3.1.0" targetFramework="net45" />
  <package id="SpecFlow" version="1.9.0" targetFramework="net4" />
  <package id="StyleCop.MSBuild" version="4.7.49.1" targetFramework="net45" developmentDependency="true" />
  <package id="TransientFaultHandling.Core" version="5.1.1209.1" targetFramework="net4" />
  <package id="Unity" version="4.0.1" targetFramework="net45" />
</packages>